<div class="max-h-30 flex divide-x overflow-y-auto rounded border bg-gray-100">
  <div class="w-1/3">
    <ul>
      <template
        x-for="option in ['Additions', 'Deletions', 'Modifications']"
        :key="option"
      >
        <li
          @click="selectedModif = option"
          :class="{
          'bg-indigo-600 text-white': selectedModif === option,
        }"
          class="flex cursor-pointer items-center gap-2 px-4 py-2"
        >
          <span x-text="option"></span>
        </li>
      </template>
    </ul>
  </div>
  <div class="w-1/3">
    <label class="flex cursor-pointer gap-2 px-4 py-2">
      <input type="checkbox" x-model="cumul" />
      <span>Cumulative</span>
    </label>
  </div>
  <div class="w-1/3">
    <ul>
      <template x-for="author in authors" :key="author.name">
        <li
          @click="
          selectedAuthor === author.name? 
            selectedAuthor = ''
            : selectedAuthor = author.name"
          :class="{
          'bg-indigo-600 text-white': selectedAuthor === author.name,
        }"
          class="flex cursor-pointer gap-2 px-4 py-2"
        >
          <img
            :src="author.avatarUrl"
            alt=""
            class="flex-1/6 h-6 w-6 rounded-full"
          />
          <span x-text="author.name"></span>
        </li>
      </template>
    </ul>
  </div>
</div>

<!-- prettier-ignore -->
<canvas
    id="myChart"
    x-init='
    const unsorted_commits = JSON.parse(`{{ commits | tojson(indent=none) | safe }}`);
    commits = unsorted_commits.sort((a, b) => b.committedDate.localeCompare(a.committedDate));
    authors = extractAuthors(commits);
    '
    x-effect='
    if (selectedModif === "Additions") {
        keys = ["additions"];
    } else if (selectedModif === "Deletions") {
        keys = ["deletions"];
    } else {
        keys = ["additions", "deletions"];
    }
    const modifications = extractModificationsPerDay(commits, keys, cumul, selectedAuthor);
    const dataPoints = modifications.map(modification => ({
      x: modification.date,
      y: modification.modifications
    }));
    if (chart) {
      chart.destroy()
    }
    chart = new Chart($el, {
      type: "line",
      data: {
        datasets: [{
          label: selectedModif,
          data: dataPoints,
          borderColor: "rgb(75, 192, 192)",
          tension: 0.1,
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false
          }
        },
        scales: {
          x: {
            type: "time",
            time: {
              unit: "day"
            }
          },
          y: {
            beginAtZero: true
          }
        }
      }
    });
    '
  ></canvas>
