<script type="application/json" id="repositories-data">
  {{ repositories | tojson }}
</script>
<div
  x-data="{
    repo_name: '',
    repo_owner: '',
    open: false,
    repositories: [],
    get filtered() {
      const byName = filterByField(this.repositories, 'name', this.repo_name);
      return filterByField(byName, 'ownerLogin', this.repo_owner);
  }}"
  x-init="repositories = JSON.parse(document.getElementById('repositories-data').textContent)"
  @click="open = true"
  @click.outside="open = false"
  class="rounded-lg bg-white p-1 text-center shadow-md"
>
  <div class="flex gap-2 rounded-sm border-gray-100 bg-gray-100 p-1">
    <span class="flex-1">Search for Repository</span>
    <input
      class="flex-1 rounded-sm border-2 border-gray-200 bg-gray-100 text-center"
      x-model="repo_owner"
      placeholder="Owner login"
    />
    <input
      class="flex-1 rounded-sm border-2 border-gray-200 bg-gray-100 text-center"
      x-model="repo_name"
      placeholder="Repository name"
    />
  </div>
  <ul>
    <template x-for="repo in filtered" :key="repo.id">
      <li
        @click.stop="
            repo_to_display_id === repo.id
                ? (repo_to_display_id = '', open = true)
                : (repo_to_display_id = repo.id, open = false);
            repo_name = '';
            repo_owner = '';
        "
        x-show="repo.id === repo_to_display_id || open"
        x-cloak
        class="flex cursor-pointer border-b border-gray-300 py-2 last:border-b-0 hover:bg-gray-100"
        :class="repo.id === repo_to_display_id? 'bg-gray-100' : 'bg-white'"
      >
        <span class="flex-1"></span>
        <span
          x-html="highlightSubSequence(repo_owner, repo.ownerLogin)"
          class="flex-1 text-center"
        ></span>
        <span
          x-html="highlightSubSequence(repo_name, repo.name)"
          class="flex-1 text-center"
        ></span>
      </li>
    </template>
  </ul>
</div>
