<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HTMX + Tailwind Demo</title>

    <!-- Tailwind via CDN (good for dev) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- HTMX via CDN -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>

    <!-- Alpine -->
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <style>
    [x-cloak] {
      display: none;
    }
  </style>
  <body class="bg-gray-100 text-center p-8">
    <h1 class="text-3xl font-bold text-indigo-600 mb-4">
      Hello from FastAPI 👋
    </h1>

    <button
      class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      hx-get="/repositories/partial"
      hx-target="#response"
      hx-swap="innerHTML"
    >
      Click Me
    </button>

    <div id="response" class="mt-6 text-xl text-gray-800"></div>

    <div x-data="{ open: false }">
      <button @click="open = !open">Toggle Menu</button>
      <div x-show="open" x-cloak class="mt-2">Dropdown Menu</div>
    </div>

    <div>Yo</div>
  </body>
</html>
